<head>
    <link rel="stylesheet" href="/css/AuthAdmin.css">
</head>
<section class="navbar">
    <div class="navbar-left">
        <!-- Logo -->
        <img src="/assets/logos/logo.svg" alt="Logo" class="logo">
    </div>

    <div class="navbar-right">
        <!-- Link para voltar à página inicial -->
        <a href="/" class="pgi-link">
            <span class="pgi-text">Volte à página inicial</span>
        </a>
    </div>
</section>

<!-- Formulário de Login -->
<section class="login-form">
    <div class="form-content">
        <div class="form-left">
            <h2 class="form-title">Login</h2>
            <form action="/admin/login" method="POST">
                <div class="input-group">
                    <label class="labelFormLogin" for="cpf">CPF</label>
                    <input class="inputformLogin" name="cpf" type="cpf" id="cpf" placeholder="Digite seu CPF" required>
                </div>

                <div class="input-group">
                    <label class="labelFormLogin" for="senha">Senha</label>
                    <div class="div-eye">
                        <input class="inputformLogin" name="senha" type="password" id="senha" maxlength="8"
                            placeholder="Digite sua senha" required>
                        <button type="button" id="togglePassword" class="eye">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>

                <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                <button type="submit" class="next-btn">Login</button>
            </form>
        </div>
        <div class="form-right">
            <figure class="image-with-caption">
                <img src="/assets/img/login.png" alt="Ilustração Login" class="login-image">
                <figcaption class="caption">Página de uso exclusivo para colaboradores</figcaption>
            </figure>
        </div>
    </div>
</section>
<section class="mobile-back-button">
    <a href="/" class="back-btn">Voltar à Página Inicial</a>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('senha');

        togglePassword.addEventListener('click', function () {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.querySelector('i').classList.toggle('fa-eye');
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });


    });
</script>