<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pouso Obras Sociais</title>
    <meta name="description"
        content="A Pouso é uma instituição espírita sem fins lucrativos que há mais de 37 anos acolhe pessoas em situação de vulnerabilidade. Doe, participe e transforme vidas.">
    <meta name="keywords"
        content="Pouso, obras sociais, espiritismo, doações, caridade, ajudar o próximo, São Luís, abrigo, lar temporário, espiritismo, Allan Kardec, Chico Xavier, cursos de informática, ajuda espiritual, teatro espírita">
    <meta name="author" content="Pouso: Obras Sociais">
    <meta property="og:title" content="Pouso: Obras Sociais em São Luís - Amor, Caridade e Acolhimento">
    <meta property="og:description"
        content="Acolhimento, ensino espiritual e apoio social para quem mais precisa. Conheça a Pouso e saiba como ajudar.">

    <!-- <meta property="og:image" content="linkimagemg"> precisa de uma imagem pra colocar. idela 1200x630 px. -->
    <!-- <meta property="og:url" content="link do site "> colocar o link quando estiver rodando-->
    <meta property="og:type" content="website">



    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/assets/logos/logo.svg" type="image/x-icon">
</head>

<body>
    {{#if messages.message}}
    <div class="erro">
        <span>{{messages.message}}</span>
    </div>
    {{/if}}
    {{{body}}}
    <script src="/js/flash/message.js"></script>
</body>

</html>