<head>
    <link rel="stylesheet" href="/css/mantimento.css">
</head>
<nav class="navbar-admin">
    <div class="nav-container">
        <div class="logo-container">
            <img src="/assets/logos/logo.svg" alt="Pouso Obras Sociais" class="nav-logo">
        </div>

        <div class="nav-direita">
            <a href="/admin" class="nav-voltar-btn">
                <i class="fas fa-arrow-left"></i>
                Voltar ao Painel Administrativo
            </a>
        </div>
    </div>
</nav>

<main class="container">
    <!-- Conteúdo da Página de Adicionar Item -->
    <section class="lista-itens">
        <div class="items-box">
            <div class="cabecalho-formulario">
                <h2><i class="fas fa-plus-circle"></i> Cadastrar Novo Item</h2>
                <a href="/admin/mantimentos/show" class="voltar-inicio">
                    <i class="fa-solid fa-left-long"></i> Voltar para Listagem
                </a>
            </div>
            <form id="form-produto" action="/admin/mantimentos/add" method="POST">
                <div class="grupo-input">
                    <label>Nome do Produto:</label>
                    <input type="text" name="nome" placeholder="Ex: Arroz Integral" required>
                </div>

                <div class="grupo-input">
                    <label>Descrição:</label>
                    <textarea name="descricao" placeholder="Detalhes sobre o produto"></textarea>
                </div>

                <div class="grupo-input">
                    <label for="categoria-produto">Categoria:</label>
                    <input type="text" name="categoria" id="categoria-produto" placeholder="Digite a categoria" />

                </div>

                <div class="grupo-input">
                    <label>Data de Entrada:</label>
                    <input type="date" name="data" max="{{dataAtual}}" required>
                </div>
                <div class="grupo-input">
                    <label>Data de Validade:</label>
                    <input type="date" name="data_validade" min="{{dataAtual}}">
                </div>
                <div class="grupo-input">
                    <label>Lote:</label>
                    <input type="tel" name="lote" placeholder="A0V9V8">
                </div>

                <div class="grupo-input-duplo">
                    <div class="grupo-input">
                        <label>Quantidade:</label>
                        <input type="number" name="quantidade" min="1" placeholder="Ex: 50" required>
                    </div>

                    <div class="grupo-input">
                        <label>Doador:</label>
                        <input type="text" name="doador" placeholder="Nome do doador" required>
                    </div>

                    <div class="grupo-input">
                        <label>Telefone:</label>
                        <input type="tel" name="telefoneDoador" placeholder="(00) 00000-0000" required>
                    </div>

                </div>

                <div class="botoes-acao">
                    <button type="submit" class="btn-adicionar">
                        <i class="fas fa-save"></i> Cadastrar Item
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>