<form action="/admin/mantimentos/add_cadastro" method="post">
    <input type="text" name="nome" placeholder="Nome do alimento">
    <input type="number" name="quantidade" placeholder="quantidade">
    <input type="text" name="doador" placeholder="doador">
    <input type="date" name="data" placeholder="data">

    <button type="submit" class="enviar">Enviar</button>
</form>