<head>
    <link rel="stylesheet" href="/css/doarAgora.css">
</head>
<header class="header">
    <nav class="nav-container">
        <a href="/" class="logo-link">
            <img src="/assets/logos/logo.svg" alt="Logo" class="logo" />
        </a>
        <div class="menu-mobile">
            <span class="hamburger"></span>
        </div>
        <div class="nav-links-wrapper">
            <ul class="nav-list">
                <li><a href="/" class="nav-link">Início</a></li>
                <li><a href="/sobre" class="nav-link">Sobre</a></li>
                <li><a href="/servicos" class="nav-link">Serviços</a></li>
                <li><a href="/horarios" class="nav-link">Horários</a></li>
                <li><a href="/contato" class="nav-link">Contato</a></li>
                <li><a href="/eventos" class="nav-link">Eventos</a></li>
            </ul>
            <a href="/" class="button-doar">Voltar</a>
        </div>
    </nav>
</header>

<section class="container">
    <section class="intro">
        <h2 class="section-title">Faça uma doação</h2>
        <p class="elegant-text">Sua generosidade transforma vidas. Escolha a forma de doar e contribua com nossa missão.
        </p>
    </section>
    <section class="form-section">

        <div class="pix-image-wrapper-left">
            <img src="/assets/img/pix.png" alt="Pix" class="pix-image" />
        </div>

        <form id="formulario-pix" method="POST" action="/doacao/add" class="form-card">
            <label for="nome" class="form-label">Nome completo:</label>
            <input name="nome" type="text" id="nome" class="form-input" placeholder="Informe o seu nome completo"
                required />

            <label for="telefone" class="form-label">WhatsApp:</label>
            <input name="telefone" type="telefone" id="telefone" class="form-input" placeholder="Informe seu WhatsApp"
                required />

            <label for="valor" class="form-label">Valor da doação:</label>
            <input name="valor" id="valor" class="form-input" step="0.01"
                placeholder="Informe o valor da doação" required />
            <button type="submit" class="btn-gerar">Gerar QR Code</button>
        </form>
        <div id="overlay" onclick="fecharPopup()" style="display:none;"></div>
        <div id="popup" style="display:none;">
            <div class="popup-class">
                <button onclick="fecharPopup()" class="iconClose">x</button>
            </div>
            <img src="/assets/img/qrcode.svg" alt="Imagem" class="imgQrcode"><br>
        </div>

        <div class="img-doacao-wrapper">
            <img src="/assets/img/doacao.png" alt="Doação" class="img-doacao" />
        </div>

    </section>

    <section class="form-section-outras-doacoes">
        <div class="form-card-wrapper">
            <h3 class="section-title">Mas também há outras formas de doar:</h3>

            <form id="formulario-outras-doacoes" method="POST" onsubmit="enviarMensagem(event)">
                <div class="input-row">
                    <div class="form-group-name">
                        <label for="nome" class="form-label">Nome Completo:</label>
                        <input type="text" name="nomeOutrasDoacoes" placeholder="Informe o seu nome completo"
                            id="nomeOutrasDoacoes" class="form-input-outras-doacoes " required />
                    </div>
                    <div class="form-group-wpp">
                        <label for="telefone" class="form-label">WhatsApp:</label>
                        <input type="text" name="telefoneOutrasDoacoes" placeholder="Informe seu WhatsApp"
                            id="telefoneOutrasDoacoes" class="form-input-outras-doacoes " required />
                    </div>
                </div>

                <div>
                    <label for="endereco" class="form-label">Endereço:</label>
                    <input type="text" name="endereco" placeholder="Informe seu Endereço" id="endereco"
                        class="form-input-outras-doacoes" required />
                </div>

                <div class="datetime-wrapper">
                    <div class="form-group">
                        <label for="dataDisponibilidade" class="form-label">Escolha a data e hora que você pretende
                            comparecer no
                            Pouso
                            para realizar a doação:</label>
                        <input type="datetime-local" id="data" name="dataDisponibilidade"
                            class="form-input-outras-doacoes " min="{{data}}" required />
                    </div>
                </div>

                <div>
                    <label for="mensagem" class="form-label">Envie uma mensagem personalizada(opcional):</label>
                    <textarea name="mensagem" placeholder="Envie uma mensagem ou informação adicional" id="mensagem"
                        class="form-textarea"></textarea>
                </div>
                <p class="form-note">*Sua solicitação com os dados informados será redirecionada para uma mensagem no
                    WhatsApp
                </p>

                <button type="submit" class="btn-enviar-red" id="btnEnviar">Enviar solicitação de Doação</button>
            </form>
        </div>
    </section>
    <div class="return-button-class">
        <a href="/" class="return-button">Voltar pra pagina inicial</a>
    </div>
</section>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-col">
                <img src="/assets/logos/logo.png" alt="Logo Pouso" class="footer-logo">
                <div class="footer-info">
                    <p>CNPJ: 12.566.824/0001-02</p>
                </div>
            </div>
            <div class="footer-col">
                <h4>Links Rápidos</h4>
                <ul class="footer-links">
                    <li><a href="/doacao">Doar Agora</a></li>
                    <li><a href="/#sobre">Sobre</a></li>
                    <li><a href="/user/cadastro">Receber Ajuda</a></li>
                    <li><a href="/#contato">Contato</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contato</h4>
                <div class="footer-contato">
                    <p><i class="fas fa-phone-alt"></i> (98) 98490-4799 (WhatsApp)</p>
                    <p><i class="fas fa-envelope"></i> pousoobrassociais@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Pouso: Obras Sociais. Todos direitos reservados.</p>
            <p>Code Track</p>
        </div>

    </div>
</footer>
<script src="/js/doacao/mensagem.js"></script>
<script src="/js/doacao/qrcode.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuMobile = document.querySelector('.menu-mobile');
        const navLinksWrapper = document.querySelector('.nav-links-wrapper');

        menuMobile.addEventListener('click', function () {
            navLinksWrapper.classList.toggle('active');
            menuMobile.classList.toggle('is-active');
        });
    });

    document.getElementById('valor').addEventListener('input', function (e) {
        let value = e.target.value;
        value = value.replace(/\D/g, '');
        value = (parseInt(value) / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
        e.target.value = value;
    });

</script>