<head>
    <link rel="stylesheet" href="/css/doarAgora.css">
</head>

<nav class="navbar">
    <div class="navbar-left">
        <a href="/" class="linkLogo"><img src="/assets/logos/logo.png" alt="Logo" class="logo" /></a>
    </div>
    <div class="navbar-right">
        <a href="/">Início</a>
        <a href="/#sobre">Sobre</a>
        <a href="/#servicos">Serviços</a>
        <a href="/#horarios">Horários</a>
        <a href="/#contato">Contato</a>
        <a href="/#eventos">Eventos</a>
        <a href="#" class="pgi-link button-doar">Doar agora</a>
    </div>
</nav>

<section class="container">
    <section class="intro">
        <h2 class="section-title">Faça uma doação</h2>
        <p class="elegant-text">Sua generosidade transforma vidas. Escolha a forma de doar e contribua com nossa missão.
        </p>
    </section>
    <section class="form-section">

        <div class="pix-image-wrapper-left">
            <img src="/assets/img/pix.png" alt="Pix" class="pix-image" />
        </div>

        <form id="formulario-pix" method="POST" action="/doacao/add" class="form-card">
            <label for="nome" class="form-label">Nome completo:</label>
            <input name="nome" type="text" id="nome" class="form-input" placeholder="Informe o seu nome completo"
                required />

            <label for="telefone" class="form-label">WhatsApp:</label>
            <input name="telefone" type="telefone" id="telefone" class="form-input" placeholder="Informe seu WhatsApp"
                required />

            <label for="valor" class="form-label">Valor da doação:</label>
            <input name="valor" type="number" id="valor" class="form-input" min="1"
                placeholder="Informe o valor da doação" required />
            <button type="submit" class="btn-gerar">Gerar QR Code</button>
        </form>
        <div id="overlay" onclick="fecharPopup()" style="display:none;"></div>
        <div id="popup" style="display:none;">
            <div class="popup-class">
                <button onclick="fecharPopup()" class="iconClose">x</button>
            </div>
            <img src="/assets/img/qrcode.svg" alt="Imagem" class="imgQrcode"><br>
        </div>

        <div class="img-doacao-wrapper">
            <img src="/assets/img/doacao.avif" alt="Doação" class="img-doacao" />
        </div>

    </section>

    <section class="form-section-outras-doacoes">
        <div class="form-card-wrapper">
            <h3 class="section-title">Mas também há outras formas de doar:</h3>

            <form id="formulario-outras-doacoes" method="POST" onsubmit="enviarMensagem(event)">
                <div class="input-row">
                    <div class="form-group-name">
                        <label for="nome" class="form-label">Nome Completo:</label>
                        <input type="text" name="nomeOutrasDoacoes" placeholder="Informe o seu nome completo"
                            id="nomeOutrasDoacoes" class="form-input-outras-doacoes " required />
                    </div>
                    <div class="form-group-wpp">
                        <label for="telefone" class="form-label">WhatsApp:</label>
                        <input type="text" name="telefoneOutrasDoacoes" placeholder="Informe seu WhatsApp"
                            id="telefoneOutrasDoacoes" class="form-input-outras-doacoes " required />
                    </div>
                </div>

                <div>
                    <label for="endereco" class="form-label">Endereço:</label>
                    <input type="text" name="endereco" placeholder="Informe seu Endereço" id="endereco"
                        class="form-input-outras-doacoes" required />
                </div>

                <div class="datetime-wrapper">
                    <div class="form-group">
                        <label for="dataDisponibilidade" class="form-label">Escolha a data e hora que você pretende
                            comparecer no
                            Pouso
                            para realizar a doação:</label>
                        <input type="datetime-local" id="data" name="dataDisponibilidade"
                            class="form-input-outras-doacoes " min="{{data}}" required />
                    </div>
                </div>

                <div>
                    <label for="mensagem" class="form-label">Envie uma mensagem personalizada(opcional):</label>
                    <textarea name="mensagem" placeholder="Envie uma mensagem ou informação adicional" id="mensagem"
                        class="form-textarea"></textarea>
                </div>
                <p class="form-note">*Sua solicitação com os dados informados será redirecionada para uma mensagem no
                    WhatsApp
                </p>

                <button type="submit" class="btn-enviar-red" id="btnEnviar">Enviar solicitação de Doação</button>
            </form>
        </div>
    </section>
    <div class="return-button-class">
        <a href="/" class="return-button">Voltar pra pagina inicial</a>
    </div>
</section>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-col">
                <img src="/assets/logos/logo.png" alt="Logo Pouso" class="footer-logo">
                <div class="footer-info">
                    <p>CNPJ: 00.000.000/0001-00</p>
                    <p>Certificado de Entidade Beneficente</p>
                    <p>Registro CEBAS nº 123456</p>
                </div>
            </div>
            <div class="footer-col">
                <h4>Transparência</h4>
                <ul class="footer-links">
                    <li><a href="#relatorios">Relatórios Anuais</a></li>
                    <li><a href="#prestacao">Prestação de Contas</a></li>
                    <li><a href="#estatuto">Estatuto Social</a></li>
                    <li><a href="#politica">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Como Ajudar</h4>
                <ul class="footer-links">
                    <li><a href="#doacoes">Doações Materiais</a></li>
                    <li><a href="#voluntario">Voluntariado</a></li>
                    <li><a href="#empresas">Parcerias Empresariais</a></li>
                    <li><a href="#campanhas">Campanhas Ativas</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contato</h4>
                <div class="footer-contato">
                    <p><i class="fas fa-phone-alt"></i> (98) 9999-9999</p>
                    <p><i class="fas fa-envelope"></i> contato@pouso.org.br</p>
                    <p><i class="fas fa-map-marker-alt"></i> Veja no mapa</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Pouso: Obras Sociais. Todos direitos reservados.</p>
            <p>Code Track</p>
        </div>
    </div>
</footer>
<script src="/js/doacao/mensagem.js"></script>
<script src="/js/doacao/qrcode.js"></script>