<head>
    <link rel="stylesheet" href="/css/farmacia.css">
</head>
<div class="paidopopo">


    <section class="pop">
        <h4><i class="fa-solid fa-prescription-bottle-medical" style="color: #ffffff;"></i>Adição de um novo medicamento
        </h4>
        <div class="pop-input">
            <input type="text" id="busca" placeholder="Buscar medicamento..." />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul id="resultados"></ul>
        <div class="prodnotFound">

        </div>

</div>
</section>
</div>
<script src="/js/farmacia/pesquisa.js"></script>