<head>
    <link rel="stylesheet" href="/css/eventos.css">
</head>
<section class="navbar">
    <div class="navbar-left">
        <a href="/"><img src="/assets/logos/logo.svg" alt="Logo" class="logo" /></a>
    </div>
    <div class="navbar-right">
        <a href="/">Início</a>
        <a href="/#sobre">Sobre</a>
        <a href="/#servicos">Serviços</a>
        <a href="/#horarios">Horários</a>
        <a href="/#contato">Contato</a>
        <a href="/eventos">Eventos</a>
        <a href="/doacao" class="pgi-link button-doar">Doar agora</a>
    </div>
</section>

<section class="error-page">
    <div class="error-content">
        <h1>Página Não Encontrada!</h1>
        <a href="/">Voltar Para Página Inicial</a>
    </div>
</section>